<ion-toolbar style="display: flex; justify-content: space-between">
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>

  <a slot="end" href="https://www.dgac.gob.cl/">
    <img
      id="logo"
      src="../../assets/icon/DGAC-logo.jpg"
      style="height: 40px; width: 30px; margin-right: 1vh"
      alt="logo"
    />
  </a>
  <a slot="end" href="https://www.meteochile.gob.cl/PortalDMC-web/index.xhtml">
    <img
      id="logo"
      src="../../assets/icon/DMC-logo.png"
      style="height: 40px; width: 40px; margin-right: 1vh"
      alt="logo"
    />
  </a>
</ion-toolbar>

<body
  *ngIf="isLoading"
  style="background-image: url('../../assets/fondocondicion/appfondo.jpg')"
>
  <div style="text-align: center; position: relative; top: 33%">
    <div class="container">
      <img
        src="../../assets/icon/DMC-logo.png"
        alt="Imagen"
        class="rotar"
        style="height: 200px; width: 200px"
      />
    </div>
    <h2 style="font-family: OpenSans-Bold">
      Buscando datos climatológicos de tu zona
    </h2>
  </div>
</body>

<!--SWIPÉR PARA TODAS LAS CIUDADES-->

<body
  *ngIf="!isLoading "
  [style.backgroundImage]="'url(assets/fondocondicion/' + condicionTexto + '.jpg)'"
  style="background-size: cover; background-position: center; overflow: auto"
>
  <swiper-container>
    <swiper-slide>
      <ion-card
        style="
          box-shadow: 0px 2px 0px 1px rgb(143, 135, 135);
          display: contents;
          color: white;
        "
      >
        <ion-card-header style="color: white; margin-top: 5vh">
          <h1 style="text-align: center">
            <strong>{{ nombreLocalidad}}</strong>
          </h1>

          <h2 style="text-align: center">{{fechaActualizado}}</h2>
        </ion-card-header>
        <ion-card-content *ngIf="objetoCondicion">
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <h2
                  style="
                    font-size: 100px;
                    font-weight: bold;
                    display: block;
                    margin: auto;
                    text-align: center;
                  "
                >
                  {{ redondearTemperatura() }}°
                </h2>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="ion-text-center">
            <ion-row style="display: flex; align-items: center">
              <ion-col>
                <img
                  [src]="'assets/iconosuv/'+datosPronosLocalidad.indiceUV.indice+'.png'"
                  style="
                    border-radius: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50px;
                    height: 50px;
                  "
                />
              </ion-col>

              <ion-col>
                <img
                  [src]="'assets/iconosclima/'+objetoCondicion.condicionIcono"
                  alt="Clima"
                  style="height: 8vh; width: 8vh"
                />
              </ion-col>

              <ion-col>
                <img
                  [src]="iconoViento"
                  alt="viento"
                  style="height: 50px; width: 50px"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong>
                    UV {{datosPronosLocalidad.indiceUV.calificador}}</strong
                  >
                </p>
              </ion-col>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong> {{objetoCondicion.condicionTexto}} </strong>
                </p>
              </ion-col>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong>{{vientoCondicion}} {{vientoFuerza}}Km/h</strong>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!--
        <p>Humedad: {{objetoCondicion.humedad}}%</p>
        -->

          <div class="accordion">
            <div class="accordion-item">
              <div
                class="accordion-header"
                (click)="toggleAccordion()"
                style="display: flex; justify-content: center"
              >
                <ion-icon
                  name="chevron-down-outline"
                  *ngIf="!expanded"
                ></ion-icon>
                <ion-icon name="chevron-up-outline" *ngIf="expanded"></ion-icon>
              </div>
              <div class="accordion-content" *ngIf="expanded">
                <h1 style="text-align: center"><strong>Pronósticos</strong></h1>
                <p style="text-align: center">
                  <strong> {{pronosticos[0].timestamp}} </strong>
                </p>

                <ion-card
                  *ngFor="let pronostico of pronosticos"
                  style="position: relative"
                >
                  <ion-card-header
                    style="text-align: center; display: contents"
                  >
                    <ion-card-subtitle *ngIf="pronostico.temperaturaMinima"
                      ><strong
                        >{{pronostico.dia}} • Min:
                        {{pronostico.temperaturaMinima}}° • Max:
                        {{pronostico.temperaturaMaxima}}°</strong
                      >
                    </ion-card-subtitle>
                    <ion-card-subtitle *ngIf="!pronostico.temperaturaMinima"
                      ><strong>
                        {{pronostico.dia}} • Max:
                        {{pronostico.temperaturaMaxima}}°</strong
                      >
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content style="display: contents">
                    <ion-row style="text-align: center">
                      <ion-col
                        *ngFor="let detalleDia of pronostico.pronosticodetalle"
                      >
                        <img
                          *ngIf="detalleDia.icono"
                          [src]="'assets/iconosclima/'+detalleDia.icono"
                          style="height: 50px; width: 50px"
                        />
                        <img
                          *ngIf="!detalleDia.icono"
                          [src]="'assets/iconosclima/vacio.png'"
                          style="height: 50px; width: 50px"
                        />
                      </ion-col>
                    </ion-row>
                    <ion-row style="text-align: center">
                      <ion-col *ngFor="let hora of horasDias">
                        <p><strong>{{hora}}</strong></p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>

    <!--SWIPER PARA FAVORITAS-->>
    <swiper-slide *ngFor="let ciudadFav of ciudadesAgregadas">
      <ion-card
        style="
          box-shadow: 0px 2px 0px 1px rgb(143, 135, 135);
          display: contents;
          color: white;
        "
      >
        <ion-card-header style="color: white; margin-top: 5vh">
          <h1 style="text-align: center">
            <strong>{{ ciudadFav.nombre}}</strong>
          </h1>

          <h2 style="text-align: center">
            {{ciudadFav.condicionActual.fechaHora}}
          </h2>
        </ion-card-header>
        <ion-card-content *ngIf="objetoCondicion">
          <ion-grid>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <h2
                  style="
                    font-size: 100px;
                    font-weight: bold;
                    display: block;
                    margin: auto;
                    text-align: center;
                  "
                >
                  {{ ciudadFav.condicionActual.temperatura }}°
                </h2>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid class="ion-text-center">
            <ion-row style="display: flex; align-items: center">
              <ion-col>
                <img
                  [src]="'assets/iconosuv/'+ciudadFav.indiceUV.indice+'.png'"
                  style="
                    border-radius: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50px;
                    height: 50px;
                  "
                />
              </ion-col>

              <ion-col>
                <img
                  [src]="'assets/iconosclima/'+ciudadFav.condicionActual.condicionIcono"
                  alt="Clima"
                  style="height: 8vh; width: 8vh"
                />
              </ion-col>

              <ion-col>
                <img
                  [src]="iconoViento"
                  alt="viento"
                  style="height: 50px; width: 50px"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong> UV {{ciudadFav.indiceUV.calificador}}</strong>
                </p>
              </ion-col>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong>
                    {{ciudadFav.condicionActual.condicionTexto}}
                  </strong>
                </p>
              </ion-col>
              <ion-col>
                <p style="text-align: center; justify-content: center">
                  <strong>{{vientoCondicion}} {{vientoFuerza}}Km/h</strong>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!--
      <p>Humedad: {{objetoCondicion.humedad}}%</p>
      -->

          <div class="accordion">
            <div class="accordion-item">
              <div
                class="accordion-header"
                (click)="toggleAccordion()"
                style="display: flex; justify-content: center"
              >
                <ion-icon
                  name="chevron-down-outline"
                  *ngIf="!expanded"
                ></ion-icon>
                <ion-icon name="chevron-up-outline" *ngIf="expanded"></ion-icon>
              </div>
              <div class="accordion-content" *ngIf="expanded">
                <h1 style="text-align: center"><strong>Pronósticos</strong></h1>
                <p style="text-align: center">
                  <strong> {{ciudadFav.pronostico[0].timestamp}} </strong>
                </p>

                <ion-card
                  *ngFor="let pronostico of ciudadFav.pronostico"
                  style="position: relative"
                >
                  <ion-card-header
                    style="text-align: center; display: contents"
                  >
                    <ion-card-subtitle *ngIf="pronostico.temperaturaMinima"
                      ><strong
                        >{{pronostico.dia}} • Min:
                        {{pronostico.temperaturaMinima}}° • Max:
                        {{pronostico.temperaturaMaxima}}°</strong
                      >
                    </ion-card-subtitle>
                    <ion-card-subtitle *ngIf="!pronostico.temperaturaMinima"
                      ><strong>
                        {{pronostico.dia}} • Max:
                        {{pronostico.temperaturaMaxima}}°</strong
                      >
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content style="display: contents">
                    <ion-row style="text-align: center">
                      <ion-col
                        *ngFor="let detalleDia of pronostico.pronosticodetalle"
                      >
                        <img
                          *ngIf="detalleDia.icono"
                          [src]="'assets/iconosclima/'+detalleDia.icono"
                          style="height: 50px; width: 50px"
                        />
                        <img
                          *ngIf="!detalleDia.icono"
                          [src]="'assets/iconosclima/vacio.png'"
                          style="height: 50px; width: 50px"
                        />
                      </ion-col>
                    </ion-row>
                    <ion-row style="text-align: center">
                      <ion-col *ngFor="let hora of horasDias">
                        <p><strong>{{hora}}</strong></p>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</body>
