ion-toolbar {
    --background: rgba(255, 255, 255, 0.65); /* Blanco con 50% de opacidad */
  }
  
  .container {
    display: flex;
    justify-content: center;
  
    
  }
  
  .rotar {
    animation: girar 5s infinite linear; /* Establece la animación como infinita */
    transform-style: preserve-3d; /* Mejora el rendimiento de la animación */
  }
  
  @keyframes girar {
    from {
        transform: rotateY(0deg); /* Gira desde 0 grados */
    }
    to {
        transform: rotateY(360deg); /* Gira hasta 360 grados */
    }
  }

  .botonAgregar{
  
    width: 30px;
    height: 30px;
    background : rgb(10, 167, 62);
    border-radius: 50%
  }

  
.botonEliminar{
  
  width: 30px;
  height: 30px;
  background : rgb(216, 63, 63);
  border-radius: 50%
}
.itemCiudad{
  width: 80%;
  display: contentes;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
 
}
.itemBotones{
  width: 30%;
}

